body {
    background-color: rgb(160, 60, 60);
}


.navItems {
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    list-style-type: none;
}

.navItems li {
    border: 1px solid black;
    padding: 2px;
    border-radius: 10%;
}

h1 {
    text-align: center;
}

h1:hover {
    color: aliceblue;
    font-size: 40px;
    transition: ease 4s;
}

h1:hover::after {
    content: "(Alien Life Confirmed)";
    transition: ease 4s;
}

#meteor {
    display: block;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5%;
}

#gnarp, #glorb, #proof {
    width: 40%;
    display: block;
    margin: auto;
}

form{
    text-align: center;
    width: 30%;
    margin: auto;
    padding: 20px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.295);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgba(33, 35, 172, 0.144);
}